$main_txt_color: #2d2d2d;
$sec_txt_color: #ffffff;
$third-text-color: #171716;

$main-background-color: #020213;
$accent_bgcolor: #fdb913;
$secondary-background-color: #ffffff;

// buttons styles
$btn_bgcolor: #fdb913;
$btn_txt_color: #ffffff;
// section one bgcolor
$section_one_bgcolor: #f8f8f8;
