.link,
.list {
  list-style: none;
  text-decoration-line: none;
}
.headings,
.par,
.ul {
  padding: 0;
  margin: 0;
}

.svg {
  display: flex;
}
.photo {
  display: block;
  width: 100%;
}
.slider__box {
  position: relative;

  margin-top: 55px;
}
